.parrot-back {
  background-color: #54d454;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.evenlyspace {
  display: flex;
  justify-content: space-around;
  float: none;
}

.parrot {
  background-color: #29e929;
  border: none;
  padding: 5px;
}

.sidebar {
  background-color: #29e929;
  border: none;
  height: auto;
  width: auto;
  margin-left: 11px;
}

.font-shadow {
  text-shadow: 4px 3px black;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.clr {
  background-color: gray;
  padding: 0px;
}

.smalldiv {
  background-color: gray;
  height: 8px;
}

.class1 {
  height: 400px;
  width: 805px;
  margin: 20px 0px 20px 0px;
}

.class2 {
  height: 400px;
  width: 300px;
  margin: 20px 0px 20px 9px;
}

.class3 {
  padding: 15px 20px;
  font-size: 18px;
}

.font {
  font-family: cursive;
}

.cont {
  width: 1000px !important;
}
bird-position {
  position: absolute;
  right: 300px;
  width: 123px;
  height: 107px;
}
