body {
  font-family: "lato", sans-serif;
  background-color: #f7f7f7;
  position: relative;
}

.head {
  position: relative;
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
  margin-top: 30px;
}

.income-expence {
  width: 525px;
  height: 140px;
  background-color: white;
  box-shadow: 0px 1px 5px 2px rgb(226, 223, 223);
  border-radius: 3px;
}

.income {
  height: 75px;
  width: 230px;
  border: 2px solid rgb(221, 221, 221);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.expence {
  height: 75px;
  width: 230px;
  border: 2px solid rgb(221, 221, 221);
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.flex-align {
  display: flex;
  justify-content: center;
  position: relative;
  top: 36.5px;
}

.contain {
  width: 525px;
  height: auto;
  /* position: absolute; */
  /* left: 700px;
    top: 50px; */
  margin-left: auto;
  margin-right: auto;
}

.smalldiv {
  margin-bottom: 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.smalldiv1 {
  margin-top: 0px;
  text-align: center;
  color: #2ecc71;
  font-size: 30px;
  letter-spacing: 2px;
}

.smalldiv2 {
  margin-top: 0px;
  text-align: center;
  color: #c0392b;
  font-size: 30px;
  letter-spacing: 2px;
}

hr {
  width: 525px;
  margin-bottom: 0px;
}

.formpadding {
  padding: 15px 10px;
  font-size: 20px;
}

.formtext {
  font-size: 20px;
  padding: 0px 0px;
}

input[type]:focus {
  border: 3px solid;
  border-color: black;
  box-shadow: none;
  outline: 0 none;
  border-radius: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

/* li{
  height:60px;
  width:530px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 1px 5px 2px rgb(226, 223, 223);
} */
.delete-button-expense {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover button {
  opacity: 1;
  transition-duration: 0.3s;
}

.list li {
  background-color: #fff;
  box-shadow: 0px 1px 5px 2px rgb(226, 223, 223);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

* {
  box-sizing: border-box;
}
